<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:p="http://www.springframework.org/schema/p"
		xmlns:context="http://www.springframework.org/schema/context"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
			http://www.springframework.org/schema/context
    		http://www.springframework.org/schema/context/spring-context-3.2.xsd">
    <!-- SessionFactory -->
    <bean name="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
    	<property name="url" value="jdbc:mysql://127.0.0.1:3306/hrms" />
    	<property name="username" value="root" />
    	<property name="password" value="990607" />
    	<property name="driverClassName" value="com.mysql.jdbc.Driver" />
    </bean>
    <bean name="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
    	<property name="dataSource" ref="dataSource" />
    	<property name="mappingDirectoryLocations" value="classpath:com/hrms/entity/" />
    	<property name="hibernateProperties">
    		<props>
    			<prop key="dialect">org.hibernate.dialect.MySQLDialect</prop>
    			<prop key="show_sql">true</prop>
    			<prop key="format_sql">true</prop>
    		</props>
    	</property>
    </bean>
    <!-- Transaction -->
    <bean id="transactionManager"  class="org.springframework.orm.hibernate3.HibernateTransactionManager">
    	<property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <tx:advice id="tm" transaction-manager="transactionManager">
    	<tx:attributes>
    		<tx:method name="get*" read-only="true"/>
    		<tx:method name="save*" read-only="false"/>
    		<tx:method name="update*" read-only="false"/>
    		<tx:method name="*" read-only="true"/>
    	</tx:attributes>
    </tx:advice>
    <aop:config>
    	<aop:pointcut expression="execution(* com.hrms.service.impl.*.*(..))" id="servicePointCut"/>
    	<aop:advisor advice-ref="tm" pointcut-ref="servicePointCut"/>
    </aop:config>
    <!-- Dao -->
    <bean name="dao" class="com.hrms.dao.impl.DaoImpl">
         <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!-- Service -->
    <!-- 员工表 -->
    <bean name="staffServiceImpl" class="com.hrms.service.impl.StaffServiceImpl">
        <property name="dao" ref="dao"/>
    </bean>
    <!-- 职位表 -->
    <bean name="positionServiceimpl" class="com.hrms.service.impl.PositionServiceImpl">
   		<property name="dao" ref="dao"/>
    </bean>
    <!-- 部门表 -->
    <bean name="departmentServiceImpl" class="com.hrms.service.impl.DepartmentServiceImpl">
   		<property name="dao" ref="dao"/>
    </bean>
    <!-- 假期表 -->
    <bean name="holidayServiceImpl" class="com.hrms.service.impl.HolidayServiceImpl">
     	<property name="dao" ref="dao"/>
    </bean>
    <!-- 职位调整表 -->
    <bean name="positionAdjustmentServiceImpl" class="com.hrms.service.impl.PositionAdjustmentServiceImpl">
        <property name="dao" ref="dao"/>
    </bean>
    <!-- 离职员工表 -->
    <bean name="quitStaffServiceImpl" class="com.hrms.service.impl.QuitStaffServiceImpl">
        <property name="dao" ref="dao"/>
    </bean>
    <!-- 人事档案表 -->
    <bean name="personnelFilesServiceImpl" class="com.hrms.service.impl.PersonnelFilesServiceImpl">
    	<property name="dao" ref="dao"/>
    </bean>
    <!-- 员工合同表 -->
    <bean name="staffContractServiceImpl" class="com.hrms.service.impl.StaffContractServiceImpl">
    	<property name="dao" ref="dao"/>
    </bean>
    <!-- 出勤表 -->
    <bean name="attendanceServiceImpl" class="com.hrms.service.impl.AttendanceServiceImpl">
    	<property name="dao" ref="dao"/>
    </bean>
    <!-- 培训平台表 -->
    <bean name="cultivateServiceImpl" class="com.hrms.service.impl.CultivateServiceImpl">
    	<property name="dao" ref="dao"/>
    </bean>
    <!-- 培训记录表 -->
    <bean name="cultivateRecordServiceImpl" class="com.hrms.service.impl.CultivateRecordServiceImpl">
    	<property name="dao" ref="dao"/>
    </bean>
    <!-- 员工培训记录表 -->
    <bean name="cultivateStaffServiceImpl" class="com.hrms.service.impl.CultivateStaffServiceImpl">
    	<property name="dao" ref="dao"/>
    </bean>
    <!-- 薪酬发放表 -->
    <bean name="payWagesServiceImpl" class="com.hrms.service.impl.PayWagesServiceImpl">
    	<property name="dao" ref="dao"/>
    </bean>
    <!-- 工资标准表 -->
    <bean name="wagesStandardServiceImpl" class="com.hrms.service.impl.WagesStandardServiceImpl">
    	<property name="dao" ref="dao"/>
    </bean>
    <!-- 奖惩记录表 -->
    <bean name="punishmentRewardServiceImpl" class="com.hrms.service.impl.PunishmentRewardServiceImpl">
        <property name="dao" ref="dao"/> 
    </bean>
    <!-- Action -->
    
</beans>